{
  "extends": ["airbnb-base", "airbnb/rules/react"],
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off"
  },
  "env": {
    "browser": true
  }
}
